{% include 'cisco/base/cisco_ssh.j2' %}
!
{% include 'cisco/base/cisco_layer2.j2' %}
!
{% for switch in range(1, 3) %}
{%- for port in range(1, 3) -%}
{%- include 'cisco/base/cisco_access_interface.j2' %}
!
{% endfor -%}
{%- endfor -%}