{% for os in oss %}
Hey you are using {{ os }}
{%if os == 'Linux' %}
{% block linux_output %}
{% endblock linux_output%}
{% elif os == "OS/2" %}
{% if year > 1995 %}
    WHAT THE
{% endif %}
{% endif %}
{% endfor %}